<section class="font-Noto-Serif-Bengali md:mt-20 lg:mt-40">
  <div
    class="container mb-20 px-4 text-left md:text-justify lg:text-justify"
  >
    <div
      class="content bg-surface px-4 py-10 shadow-sm md:mx-6 md:px-6 md:py-10 lg:mx-20 lg:px-10 lg:py-10 xl:mx-40 xl:px-20 xl:py-20 2xl::mx-40 2xl:px-20 2xl:py-20"
    >
    <h4 class="mb-8 lg:mb-20 text-2xl md:text-3xl lg:text-4xl font-extrabold text-center">প্রধান শিক্ষকের দু’টি কথা</h4>
        <img
            src="/assets/images/headmistress/headmistress.jpg"
            class="float-left mr-4 mb-2 rounded md:w-80"
        />

  <div class="">
    <h4 class="mb-1 text-xl md:text-xl lg:text-2xl font-extrabold">সিস্টার মেরী সুপ্রীতি, এস এম আর এ</h4>
    <h4 class="mb-4 text-xl font-semibold">প্রধান শিক্ষক</h4>
    <div class="space-y-4 text-justify">
      <p class="">
        ২০২২ খ্রি: বর্ষে সবাইকে জানাই অনকে অনেক শুভেচ্ছা ও অভিনন্দন। বটমলী হোম বালিকা উচ্চ বিদ্যালয়ের শিক্ষক, অভিভাবক ও প্রিয় শিক্ষার্থী সবার সুস্থ্য-সুন্দর ও নিরাপদ জীবন কামনা করছি।
      </p>

      <p>
        জীবনের উন্নয়নের প্রধান সোপানই হল শিক্ষা। “ তুমি আমাকে শক্ষিতি মা দাও, আমি তোমাকে শক্ষিতি জাতি দবিো- নপেোলযি়ন বোনার্পাট- বিশিষ্ট জনের এই কথার আলোকে আমি শিক্ষার্থীদের বলতে চাই, প্রত্যেকে যেন শিক্ষিত হওয়ার একটি স্বপ্ন মনে লালন কর। স্বপ্ন পূরণে যা যা করণীয় তা করতে তোমরা কখনো যেন পিছুপা না হও। শিক্ষার মাধ্যমে নিজে আলোকিত মানুষ হয়ে, আলোকিত ও শিক্ষিত সমাজ গড়তে পারবে। এপিজে আব্দুল কালাম বলেছেন, “জীবন আর সময় হলো পৃথিবীর শ্রেষ্ঠ শিক্ষক। জীবন শেখায় সময়কে সঠিকভাবে ব্যবহার করতে আর সময় শেখায় জীবনের মূল্য দিতে।”
      </p>

      <p>
        শিক্ষার্থীরা সবাই তোমরা জীবনে সময়ের মূল্য দিতে শিখবে, সময়ের সদ্ব্যবহার করে যেন জীবনকে সঠিক পথে পরিচালনা করতে শিখবে। জীবনের নেতিবাচক চিন্তা ভাবনা গুলোকে দূরে রেখে ইতিবাচক চিন্তা চেতনায় বেড়ে উঠতে শিখবে। বিদ্যালয়ের পুথিঁগত শিক্ষার পাশাপাশি যে নৈতিক মানসিক, সামাজিক মূল্যবোধের শিক্ষা দেয়া হয় তা মনে রেখে উন্নত মূল্যবোধে একজন মানবিক ব্যক্তি হয়ে গড়ে উঠবে। মহাত্মা গান্ধী বলেছেন,“ব্যক্তির দেহ, মন ও আত্মার সুষম বিকাশের প্রয়াসই হলো শিক্ষা।” শিক্ষার্থীরা দেহ-মন-আত্মার বিকাশে নিজেদের মননশীলতা, সৃজনশীলতার র্চ্চায় নিজেকে ব্যপৃত রাখবে এ প্রত্যাশা।
      </p>

      <p>
        যুগে যুগে বহু মহৎ লোক পৃথিবীতে এসেছেন। তাঁরা তাদের জীবনে অনেক ভালো কাজ করে গেছেন যার জন্য তারা চিরকাল মানুষের মাঝে বেঁচে আছেন ও থাকবেন। তাদের দেয়া মহৎ কিছু বাণী যা শিক্ষামূলক উক্তি, কখনো আমাদের অনুপ্রণিত করে , কখনো আবার খারাপ সময়ে মনে সাহস যোগায় আবার কখনো জীবনে চলার পথে চিনতে আমাদের সাহায্য করে। তাই শিক্ষার্থীরা তোমরা পড়ার অভ্যাস গড়ে তুলতে অধ্যবসায়ী হবে। সবার মঙ্গল কামনা করছি।
      </p>
      
    </div>
  </div>

</section>
