<section class="">
  <div
    class="container mx-auto mb-20 px-4 text-left md:text-justify lg:text-justify"
  >
    <div
      class="content bg-surface px-4 py-10 shadow-sm md:mx-20 md:px-6 md:py-10 lg:mx-40 lg:px-20 lg:py-20"
    >
    <h4 class="mb-20 text-4xl font-extrabold text-center">প্রধান শিক্ষকের দু’টি কথা</h4>
        <img
            src="/assets/images/headmistress/headmistress.jpg"
            class="float-left mr-4 mb-2 rounded"
        />

  <div class="">
    <h4 class="mb-1 text-2xl font-semibold">সিস্টার মেরী সুপ্রীতি, এসএমআরএ</h4>
    <h4 class="mb-4 text-xl font-semibold">প্রধান শিক্ষক</h4>
    <div class="mb-4 space-y-2 text-justify">
      <p class="">
        ২০২২ খ্রি: বর্ষে সবাইকে জানাই অনকে অনেক শুভেচ্ছা ও অভিনন্দন। বটমলী হোম বালিকা উচ্চ বিদ্যালয়ের শিক্ষক, অভিভাবক ও প্রিয় শিক্ষার্থী সবার সুস্থ্য-সুন্দর ও নিরাপদ জীবন কামনা করছি।
      </p>

      <p>
        জীবনের উন্নয়নের প্রধান সোপানই হল শিক্ষা। “ তুমি আমাকে শক্ষিতি মা দাও, আমি তোমাকে শক্ষিতি জাতি দবিো- নপেোলযি়ন বোনার্পাট- বিশিষ্ট জনের এই কথার আলোকে আমি শিক্ষার্থীদের বলতে চাই, প্রত্যেকে যেন শিক্ষিত হওয়ার একটি স্বপ্ন মনে লালন কর। স্বপ্ন পূরণে যা যা করণীয় তা করতে তোমরা কখনো যেন পিছুপা না হও। শিক্ষার মাধ্যমে নিজে আলোকিত মানুষ হয়ে, আলোকিত ও শিক্ষিত সমাজ গড়তে পারবে। এপিজে আব্দুল কালাম বলেছেন, “জীবন আর সময় হলো পৃথিবীর শ্রেষ্ঠ শিক্ষক। জীবন শেখায় সময়কে সঠিকভাবে ব্যবহার করতে আর সময় শেখায় জীবনের মূল্য দিতে।”
      </p>

      <p>
        শিক্ষার্থীরা সবাই তোমরা জীবনে সময়ের মূল্য দিতে শিখবে, সময়ের সদ্ব্যবহার করে যেন জীবনকে সঠিক পথে পরিচালনা করতে শিখবে। জীবনের নেতিবাচক চিন্তা ভাবনা গুলোকে দূরে রেখে ইতিবাচক চিন্তা চেতনায় বেড়ে উঠতে শিখবে। বিদ্যালয়ের পুথিঁগত শিক্ষার পাশাপাশি যে নৈতিক মানসিক, সামাজিক মূল্যবোধের শিক্ষা দেয়া হয় তা মনে রেখে উন্নত মূল্যবোধে একজন মানবিক ব্যক্তি হয়ে গড়ে উঠবে। মহাত্মা গান্ধী বলেছেন,“ব্যক্তির দেহ, মন ও আত্মার সুষম বিকাশের প্রয়াসই হলো শিক্ষা।” শিক্ষার্থীরা দেহ-মন-আত্মার বিকাশে নিজেদের মননশীলতা, সৃজনশীলতার র্চ্চায় নিজেকে ব্যপৃত রাখবে এ প্রত্যাশা।
      </p>

      <p>
        যুগে যুগে বহু মহৎ লোক পৃথিবীতে এসেছেন। তাঁরা তাদের জীবনে অনেক ভালো কাজ করে গেছেন যার জন্য তারা চিরকাল মানুষের মাঝে বেঁচে আছেন ও থাকবেন। তাদের দেয়া মহৎ কিছু বাণী যা শিক্ষামূলক উক্তি, কখনো আমাদের অনুপ্রণিত করে , কখনো আবার খারাপ সময়ে মনে সাহস যোগায় আবার কখনো জীবনে চলার পথে চিনতে আমাদের সাহায্য করে। তাই শিক্ষার্থীরা তোমরা পড়ার অভ্যাস গড়ে তুলতে অধ্যবসায়ী হবে। সবার মঙ্গল কামনা করছি।
      </p>
      
    </div>
  </div>

  <div class="mt-20">
    <h2 class="mb-2 p-1 text-3xl font-bold text-onSurface">
        বটমলী হোম বালিকা উচ্চ বিদ্যালয়
      </h2>
      <div class="mb-4 p-1 text-justify text-onSurface">
        <p class="mb-4">বটমলী হোম বালিকা উচ্চ
        বিদ্যালয়টি তেজগাঁও ধর্মপল্লীর অধীনে অবস্থিত। ১৯৪৬ খ্রি: বর্ষের ১ এপ্রিল
        হলিক্রস সিস্টারগণ কয়েকজন অনাথ ও এতিমদের নিয়ে বটমলী কোসব এর গোড়াপত্তন
        করেন। তখন সংঘের প্রধান দায়িত্বে ছিলেন সিস্টার মেরী গেøারিয়া সি্েসসি।
        তিনি এতিমদের শিক্ষা দেবার মানসে প্রাথমিক বিদ্যালয়ের কবার্যক্রম শুরু
        করেন।হলিক্রস সিস্টারদের কর্ম প্রচেষ্টার ফলে বিদ্যালয় প্রতিষ্ঠা নলাভ করে।</p>
        <p class="mb-4">সিস্টার মেরী পের্পেতুয়া১২৪৬ থ্রি: থেকে ১৯৫৪ খ্রি: পর্যন্ত ৯ বছর প্রধান
        শিক্ষক পদে নিযুক্ত থেকে, কঠোর পরিশ্রম করে বিদ্যালয়টিকে গড়ে তোলেন। ১৯৫৫
        খ্রি: বিদ্যালয়টি নিম,œ মাধ্যমিকের রুপ নিয়ে আত্ম প্রকাশ করে। নি¤œ
        মাধ্যমিক বিদ্যালয় রুপে ১৪ বছর কার্যক্রম চলে। অবশেষে ১৯৬৮ খ্রি: ৩১
        ডিসেম্বর ৯ম শ্রেণি খোলার অনুমতি লাভ করে। এ সময় প্রধান শিক্ষক ছিলেন
        সিস্টার গেøারিয়া ভ্যালতোভিয়োস, সিএসসি। তিনি এ পদে নিয়োজিত ছিলেন
        ১৯৬৮-১৯৬৯খ্রি পর্যন্ত। তারপর সিস্টার এলজিয়া, আরএনডিএম ১৯৭০ থেকে ১৯৭১
        পর্যন্ত প্রধান হিসেবে কাজ করেন। যুদ্ধ পরবর্তী স্বাধীন বংলার ১৯৭২ খ্রি:
        ছিল হাতবলের সময়। যুগান্তরকারী পরিবর্তণ আসে এ সময়। প্রথম এসএমআরএ সিস্টার
        মেরী গেট্রুড এ বিদ্যালয়ের প্রধান শিক্ষক হিসেবে কাজ শুরু করেন। তিনি ১৯৭২
        থেকে ১৯৭৪ পর্যন্ত অতীব দক্ষতার সাথে বিদ্যালয় পরিচালনা করেন। তারপর
        বিভিন্নজন এ দায়িত্বে বহাল ছিলেন এবং বিদ্যালয়টিকে একটি আর্দশ বিদ্যালয়ে
        পরিণত করেছেন। বর্তমানে প্রধান শিক্ষক হিসেবে নিয়েজিত আছে সিস্টার মেরী
        সুপ্রীতি, এসএমআরএ।</p>
        <p class="mb-4"> চার বছর সহকারী প্রধান হিসেবে এখানে সেবার দায়িত্ব পালন
        করে এবছর ২০২১ এর মার্চ মাস থেকে প্রধান শিক্ষক হিসেবে দায়িত্ব পালন করে
        যাচ্ছেন। ঢাকা মেট্রাপলিটন শহরের বুকে এ ই বটমলী হোম বিদ্যালয়টি একটি
        স্বনাম ধন্য বিদ্যালয় হিসেবে সবার কাছে পরিচিত। বিশেষ অর্জন : ১৯৯৬ খ্রি:
        সমারোহের সাথে বিদ্যালয়ের রজত জয়ন্তী উৎসব পালিত হয়।সিস্টার মেরী পেট্রা,
        ্েসএমআরএ দীর্ঘ ২০ বছর প্রধান শিক্ষক হিসেবে সুনামের সাথে দক্ষ হাতে
        বিদ্যালয় পরিচালনা করেছেন। তাঁর সময়েই দুটি ভবন নির্মিত হয়। তিনি জাতীয়
        শ্রেষ্ঠ শিক্ষিকা হিসেবে নির্বচিত হন। পরবর্তী প্রধানগণ বিভিন্ন ভাবে
        বিদ্যালয়টির সুনাম বয়ে এনেছেন। শতভাগ পাশ তাদেরই কর্মপ্রচেষ্টার ফল।
        শ্রেষ্ঠ প্রধান শিক্ষিকা, শ্রেষ্ঠ গাইডার নির্বাচিত হয়েছেন। বিদ্যালয়ের
        শিক্ষক-শিক্ষার্থীর লেখনীর ছোঁয়ায় রঞ্জিত একমাত্র পত্রিকা বালার্ক। শিক্ষা
        বর্হিভুত অর্জন: ইয়ালো বার্ড, গার্লস্ গাইড, জাতীয় পর্যয়ে অবদান রেখেছে। এ
        বিদ্যালয়ের ফুটবল টুর্নামেন্ট টীম জতীয় পর্যায়ে অংশগ্রহণ করে সুনাম কুড়িয়ে
        এনেছে। প্রতিবছর শিক্ষার্থীরা বিভিন্ন নাচ, গান, কবিতা চিত্রাঙ্কন
        প্রতিযোগিতায় অংশ গ্রহণ করে পুরুষ্কার অর্জন করে বিদ্যালয়ের সুনাম বৃদ্ধি
        করছে। ২০১৭ খ্রি: বিদেশে (চীনে) গিয়েও প্রথম শ্রেণির একজন ছাত্রী ( মান্হা)
        গণিতে চ্যাম্পিয়ন হয়েছে, মালয়েশিয়ায় গিয়ে ৫ম শ্রেণির ছাত্রী অধরা মুন্সী
        গার্ল গাইডে প্রথম স্থান অধিকার করে সুমাম বয়ে এনেছে।</p>
      </div>
  </div>

</section>
