---
layout: 'layouts/base.njk'
---

{% import 'macro/banner-macro.html' as macro %} 
{{
macro.renderBanner("Bottomley Home Girls High School",'76 Years of Excellence – 76 Years Passing BHGHS with Golden Memories & Student Success') 
}}
<div class="clear-both"></div>
{% include 'partials/index/about-content.html' %}



