<section class="md:mt-20 lg:mt-40">
  <div class="container mb-20 px-4">
    <div
      class="content 2xl::mx-40 bg-surface px-4 py-10 shadow-sm md:mx-6 md:px-6 md:py-10 lg:mx-20 lg:px-10 lg:py-10 xl:mx-40 xl:px-20 xl:py-20 2xl:px-20 2xl:py-20"
    >
      <div class="">
        <div class="grid-cols-3 lg:grid lg:gap-3">
          <div class="w-full overflow-hidden rounded">
            <img src="/assets/images/gallery/gallery1.jpg" alt="image" />
          </div>
          <div class="w-full overflow-hidden rounded">
            <img src="/assets/images/gallery/gallery4.jpg" alt="image" />
          </div>
          <div class="w-full overflow-hidden rounded">
            <img src="/assets/images/gallery/gallery5.jpg" alt="image" />
          </div>
          <div class="col-span-2 row-span-2 w-full overflow-hidden rounded">
            <img src="/assets/images/gallery/gallery3.jpg" alt="image" />
          </div>
          <div class="w-full overflow-hidden rounded">
            <img src="/assets/images/gallery/gallery6.jpg" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
