<div
  class="content w-full bg-surface p-8 text-left text-onBackground shadow-sm md:w-9/12 md:p-14 md:text-justify lg:p-20 lg:text-justify"
>
  <div class="animate-slideInUp">
    <h4 class="mb-4 text-2xl font-semibold">About Us</h4>
    <div class="">
      <p class="mb-4">
        An American Father named, Charles J. Young CSC founded The Christian
        Co-Operative Credit Union on July 3rd, 1955, which is also famously
        known as ‘Dhaka Credit’. According to the 1940 Co-Operative Act, Dhaka
        Credit was registered in 1958 with registration number “42/1958”. Dhaka
        Credit’s Head Office is located in Tejgaon, East Tejturibazar, Dhaka. It
        is a trustworthy financial institution providing various services to the
        Christian community in Bangladesh.
      </p>
      <p class="mb-4">
        Dhaka Credit is committed in providing the best services to its member
        with different schemes and activities to promote Thrifts & Savings to
        upgrade the members’ standard of living. Dhaka Credit is the first &
        largest Credit Union of its kind currently in Bangladesh. The
        operational area of Dhaka Credit includes Dhaka, Gazipur, Narayanganj &
        Munshiganj Districts with over 43,000 members currently active in Dhaka
        Credit. Dhaka Credit is currently providing various services through its
        12 Service Centers and 20 Collection Booths. As of June 2022, there are
        nearly 600 professional staffs along with Part time and Students are
        currently employed in Dhaka Credit.
      </p>
      <p class="mb-4">
        Dhaka Credit is providing around 86 products with the policies being
        constantly updated to make the products more Member-Friendly and provide
        maximum benefits to the members. The Construction of the Divine Mercy
        Hospital at Kuchilabari in the District of Gazipur is under process and
        are looking to commence its operation in 2022. It is a 300-bed hospital
        situated in Gazipur, adjacent to Dhaka city. The vast infrastructure
        having most of the health service departments will be completed by 2022
        and will start its operation by the end of the year. This mega project
        will follow a Medical College and a Nursing College in the hospital’s
        vast campus.
      </p>
      <p class="mb-4">
        This is the first & largest hospital project undertaken by a cooperative
        credit union in Bangladesh to demonstrate true Christian Love and Care.
        Dhaka Credit members have entered a digitization era. On February 6th
        2021, Dhaka Credit launched its Mobile Financial Service (MFS) at the
        CBCB center during a workshop. The App is designed to provide
        convenience to the members through digital services that includes
        Transfer from one account to another, Cash Withdrawal through ATM,
        Information on Member’s Loan, Savings & Products and many more. The
        entire world is suffering from the COVID-19 crisis. Members of Dhaka
        Credit are also severely affected by this deadly virus, while every day,
        thousands of people are dying. Many members lost their jobs, faced
        losses in their business. Responding to this emergency period, Dhaka
        Credit took some initiative. Among them, awareness training, leaflet and
        face mask distribution, discount product distribution among jobless
        members, commodity loans, and goods sold in credit from Samabay Bazar
        run by Dhaka Credit. A total of 1400 needy members obtained the discount
        package for BDT 1700 (Approx. 20 USD), which the actual price of the
        package is BDT 3400 (Approx. 40 USD) from Samabay Bazaar Super Shop of
        Dhaka Credit. A total of 226 members received this package through this
        commodity loans. With this timely initiative, members were greatly
        benefited. Lastly, on 15th May 2021, we launched a savings product,
        namely Pension Benefit Scheme (PBS). We do not make any plans for our
        retirement life. The PBS will help us make our members retirement life
        better and non-dependent on others.
      </p>
      <p class="mb-4">
        This product will help them lead a reputable retirement life. Beside,
        providing various products and services, Dhaka Credit also has Resort
        and Training Center, World Class Child Care & Education Center,
        Co-Operative Shops, Security Services, Dhaka Credit Union School,
        Cultural Academy, Gym, Ambulance Service, Online DCTV & dcnewsbd.com
        news portals, IELTS & English Spoken Courses, Girls Hostel, Student
        Project, Health Project, Funeral Support Fund, Handicraft Training,
        Sewing Training, Chinese Cooking Training, McCarthy Library, Archives &
        Job Linking Cell. Some of the Loan products include General Loan, Higher
        Education Loan, Professional Loan, Business Loan, Small & Medium
        Business Loan, Loan against Monthly Savings, Industrial Loan, SOD Loan,
        Open Installment & Own Share Loan, Etc. Dhaka Credit has the utmost
        priority in serving its members with care and professionalism through
        its services and products. Dhaka Credit will always be beside its
        members during the time of need.
      </p>
    </div>
  </div>
</div>
