<footer class="mt-auto bg-surface text-center text-onSurface">
  <div
    class="container mx-auto flex flex-col items-center justify-center p-3 py-10"
  >
    <a href="#" class="mb-4 flex flex-col items-center justify-center">
      <img class="h-16" src="/assets/images/logo/logo.png" alt="header logo" />
      <h6 class="block text-2xl font-semibold text-primary">BHGHS</h6>
      <p class="font-bangla-noto text-xl text-primary">
        বটমলী হোম বালিকা উচ্চ বিদ্যালয়
      </p>
      <p class="font-bangla-noto text-sm text-primary">
        বটমলী হোম বালিকা উচ্চ বিদ্যালয়, তেজগাঁও, ঢাকা – ১২১৫
      </p>
    </a>
    <div class="mb-5">
      <ul class="flex gap-2">
        <li
          class="h-8 w-8 rounded-full bg-background shadow-lg hover:scale-125 hover:text-primary"
        >
          <a class="h-full w-full" href="https://www.facebook.com/">
            <i
              class="fa fa-facebook mt-2 h-full w-full text-center leading-3"
            ></i>
          </a>
        </li>
        <li
          class="h-8 w-8 rounded-full bg-background shadow-lg hover:scale-125 hover:text-primary"
        >
          <a class="h-full w-full text-center" href="https://www.facebook.com/">
            <i
              class="fa fa-twitter mt-2 h-full w-full text-center leading-3"
            ></i>
          </a>
        </li>
        <li
          class="h-8 w-8 rounded-full bg-background shadow-lg hover:scale-125 hover:text-primary"
        >
          <a class="h-full w-full text-center" href="https://www.facebook.com/">
            <i
              class="fa fa-instagram mt-2 h-full w-full text-center leading-3"
            ></i>
          </a>
        </li>
        <li
          class="h-8 w-8 rounded-full bg-background shadow-lg hover:scale-125 hover:text-primary"
        >
          <a class="h-full w-full text-center" href="https://www.facebook.com/">
            <i
              class="fa fa-google mt-2 h-full w-full text-center leading-3"
            ></i>
          </a>
        </li>
      </ul>
    </div>

    <p class="text-sm">
      © 2022 Bottomley Home Girls High School. All Rights Reserved.
    </p>
    <p class="text-sm">Powered by Dhaka Credit ICT Squad.</p>
  </div>
</footer>
