---
layout: 'layouts/base.njk'
---

{% import 'macro/banner-macro.html' as macro %} 
{{
macro.renderBanner("Importent Notices",'Employment
Creation is Our Goal; Self-Reliant Community is Our Dream.') 
}}