---
layout: 'layouts/base.njk'
---

{% import 'macro/banner-macro.html' as macro %} 
{{
macro.renderBanner("বটমলী হোম বালিকা উচ্চ বিদ্যালয়",'৭৬ বছরের শ্রেষ্ঠত্ব - ৭৬ বছর সুবর্ণ স্মৃতি এবং শিক্ষার্থীদের সাফল্য') 
}}
{% include 'partials/contact/contact-form.html' %}