<div class="col-sm-12 col-md-6">
  <div class="post-item">
    <h4 class="headline headline--post-title border-bottom mb-2 pb-2">
      <a href="http://demo.cccul.com/notices/corona-virus/"
        ><strong class="text-danger">COVID-19</strong></a
      >
    </h4>
    <div class="mb-2 text-secondary">
      Coronavirus disease (COVID-19) is an infectious disease caused…
    </div>

    <div class="generic-content">
      <a
        class="btn btn--small btn--dark-orange"
        href="http://demo.cccul.com/notices/corona-virus/"
        >View Details</a
      >
    </div>
  </div>
</div>
