{% macro renderBanner( bannerTitle="The Christian Co-operative Credit Union
Ltd., Dhaka", bannerSubtitle='Employment Creation is Our Goal; Self-Reliant
Community is Our Dream.') %}
<section class="absolute right-0 top-0 w-full">
  <div class="relative h-[520px]">
    <div
      class="h-full bg-[url('/assets/images/gallery/gallery3.jpg')] bg-cover bg-bottom bg-no-repeat"
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.6)"
      >
        <div
          class="flex h-full flex-row items-end justify-center text-onPrimary"
        >
          <div class="mb-36 px-6 text-center">
            <h2
              class="animate-backInLeft text-3xl font-bold leading-tight tracking-tight lg:text-5xl"
            >
              {{ bannerTitle }}
            </h2>
            <p class="mt-2 inline-block animate-slideInRight text-sm">
              {{ bannerSubtitle }}
            </p>
          </div>
        </div>
      </div>
    </div>
    {#
    <div class="container text-onPrimary">
      <div class="relative">
        <div class="absolute left-0 -bottom-5">
          <div class="ml-4 flex">
            <a
              href=""
              class="rounded-l-md bg-primaryVariant px-6 py-2 font-semibold"
              >Home</a
            >
            <a href="" class="rounded-r-md bg-primary px-6 py-2"
              >{{ bannerTitle }}</a
            >
          </div>
        </div>
      </div>
    </div>
    #}
  </div>
</section>

{% endmacro %}
